window {
    background-color: transparent;
}

window > box > box {
    padding: 5px 10px;
}

window > box > box {
    border-radius: 7px;
    background: #828282;
    background: linear-gradient(
        41deg,
        rgba(130, 130, 130, 0.65) 0%,
        rgba(89, 89, 89, 0.65) 18%,
        rgba(84, 84, 84, 0.65) 28%,
        rgba(133, 133, 133, 0.65) 56%,
        rgba(74, 74, 74, 0.65) 81%,
        rgba(115, 115, 115, 0.65) 100%
    );
}

widget > * {
    margin: 0 5px;
}

#custom-launcherButton {
    font-size: 1.5em;
}
